{
    "Testing": true,
    "Log_Level": 20,
    "Log_Location": ".//Logs",

    "ADServer": "localadserver.domain.com",
    "ADQueryAsUser": "domain\\service_account",
    "API_Key": "gophish_api_key_goes_here",
    "Gophish_Hostname": "https://gophish.proddomain.com:3333",
    "Search_Base": "OU=Primary,DC=domain,DC=com",

    "Testing_ADServer": "localtestadserver.testdomain.local",
    "Testing_ADQueryAsUser": "testdomain\\service_account",
    "Testing_API_Key": "test_gophish_api_key_goes_here",
    "Testing_Gophish_Hostname": "https://gophish.testdomain.local:3333",
    "Testing_Search_Base": "OU=Primary,DC=domain,DC=local",

    "Exclude_Groups":[
        "*excluded_group_name_1*",
        "*excluded_group_name_2*"
    ]
}